spack:
  include:
  # Include base configuration from access-spack-packages/.github/build-ci/includes
  - git: https://github.com/ACCESS-NRI/access-spack-packages
    {{ access_spack_packages_ref_type }}: {{ access_spack_packages_ref }}
    paths:
    - .github/build-ci/includes/oneapi
  # Include configuration from this repositories .github/build-ci/includes directory, environment variable defined in the ci.yml
  - path: $SPACK_MANIFEST_REPOSITORY_PATH/.github/build-ci/includes
  specs:
  - 'access-mom6@git.{{ ref }}=stable ~access3 +mom6_solo ^openmpi'
  view: false
