spack:
  include:
  - git: https://github.com/ACCESS-NRI/access-spack-packages
    # FIXME: Update when merged into api-v2
    branch: 484-top-level-includes
    paths:
    - .github/build-ci/includes/oneapi
  specs:
  - 'access-mom6@git.{{ ref }}=stable ~access3 +mom6_solo ^openmpi'
  packages:
    cmake:
      require:
      - '@3.31.6:'
  view: false
