spack:
  include:
  # Include configuration from this repository, with the environment variable defined in build-ci
  - path: $SPACK_MANIFEST_REPOSITORY_PATH/.github/build-ci/include
  specs:
  - 'access-om3@latest ^openmpi'
  packages:
    access-mom6:
      require:
      - '@git.{{ ref }}=stable +asymmetric_mem +mom6_solo'
    all:
      require:
      - '%access_oneapi'
  view: false
